<body>
  <h1 class="main-header"> Welcome, <%= current_user.name %> </h1>
  Email: <%= current_user.email %></br>
  Account Created: <%= current_user.created_at %></p>
  Please fill out the health survey!
</body>
