<h1 class="main-header"> Welcome, <%= current_user.name %> </h1>
<h2 class="sub-header"> Email: <%= current_user.email %></h2>
<h2 class="sub-header"> Account Created: <%= current_user.created_at %></h2>
