<!DOCTYPE html>
<html lang="en">
<head>
  <title>Health Maps</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Home</a>
        <a class="navbar-brand" href="/locations">Locations</a>
        <a class="navbar-brand" href="/hospital/index"> Nearest Hospital </a>
      </div>
      <% if current_user %>
       <%= render "shared/user_nav" %>
      <% else %>
        <%= render "shared/visitor_nav"%>
      <% end %>
    </div>
  </nav>
</body>
