<!DOCTYPE html>
<html lang="en">
<head>
  <title>Health Maps</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Home</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
      			<ul id="login-dp" class="dropdown-menu">
      				<li>
      					 <div class="row">
      							<div class="col-md-12">
      								Login via
      								<div class="social-buttons">
      									<a href="#" class="btn btn-gm"><i class="fa fa-gmail"></i> Gmail</a>
      									<a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
      								</div>
                                      or
      								 <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
      										<div class="form-group">
      											 <label class="sr-only" for="exampleInputEmail2">Email address</label>
      											 <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
      										</div>
      										<div class="form-group">
      											 <label class="sr-only" for="exampleInputPassword2">Password</label>
      											 <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
      										</div>
      										<div class="form-group">
      											 <button type="submit" class="btn btn-primary btn-block">Sign in</button>
      										</div>
      								 </form>
      							</div>
      							<div class="bottom text-center">
      								<a href="#"><b>Sign Up</b></a>
      							</div>
      					 </div>
      				</li>
      			</ul>
              </li>
            </ul>
          </div>
        </div>
  </nav>
</body>
