<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
      <ul id="login-dp" class="dropdown-menu">
        <li>
           <div class="row">
              <div class="col-md-12">
                Login via
                <div class="social-buttons">
                  <a href="#" class="btn btn-gm"><i class="fa fa-gmail"></i> Gmail</a>
                  <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
                </div>
                  <%= render "sessions/new" %>

              </div>
              <div class="bottom text-center">
                <button type="submit" class="btn btn-primary btn-block"><b>Sign Up</b></button>
              </div>
           </div>
        </li>
      </ul>
        </li>
      </ul>
    </div>
