<html>
  <head>
    <title>Health Maps</title>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag    'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>

      <style>
        body  {
          background-image: url("http://www.shorpy.com/files/images/4a14984a.jpg");
          background-size: cover;
        }
      </style>
  </head>
  <body>
  </body>
</html>
