---
http_interactions:
- request:
    method: get
    uri: https://chronicdata.cdc.gov/resource/47z2-4wuh.json?placename=Birmingham
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      X-App-Token:
      - "<socrata_api_key>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Socrata-Requestid:
      - 428c1z1zfbuh3yslzvtio0ibc
      Etag:
      - '"YWxwaGEuMTQ3OTMwXzFfNzdlcWZURUgxeHhKbkg5QkZjMGx2SGk3ZjFmLXem8wRO5VZRdHAX3zDCdoa02XJSUQ-gzip--gzip"'
      X-Soda2-Fields:
      - '["access2_crude95ci","access2_crudeprev","arthritis_crude95ci","arthritis_crudeprev","binge_crude95ci","binge_crudeprev","bphigh_crude95ci","bphigh_crudeprev","bpmed_crude95ci","bpmed_crudeprev","cancer_crude95ci","cancer_crudeprev","casthma_crude95ci","casthma_crudeprev","chd_crude95ci","chd_crudeprev","checkup_crude95ci","checkup_crudeprev","cholscreen_crude95ci","cholscreen_crudeprev","colon_screen_crude95ci","colon_screen_crudeprev","copd_crude95ci","copd_crudeprev","corem_crude95ci","corem_crudeprev","corew_crude95ci","corew_crudeprev","csmoking_crude95ci","csmoking_crudeprev","dental_crude95ci","dental_crudeprev","diabetes_crude95ci","diabetes_crudeprev","geolocation","highchol_crude95ci","highchol_crudeprev","kidney_crude95ci","kidney_crudeprev","lpa_crude95ci","lpa_crudeprev","mammouse_crude95ci","mammouse_crudeprev","mhlth_crude95ci","mhlth_crudeprev","obesity_crude95ci","obesity_crudeprev","paptest_crude95ci","paptest_crudeprev","phlth_crude95ci","phlth_crudeprev","place_tractid","placefips","placename","population2010","sleep_crude95ci","sleep_crudeprev","stateabbr","stroke_crude95ci","stroke_crudeprev","teethlost_crude95ci","teethlost_crudeprev","tractfips"]'
      X-Soda2-Types:
      - '["text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","text","text","number","text","number","text","text","number","text","number","text"]'
      X-Soda2-Data-Out-Of-Date:
      - 'false'
      X-Soda2-Truth-Last-Modified:
      - Fri, 19 Jan 2018 15:13:15 GMT
      X-Soda2-Secondary-Last-Modified:
      - Fri, 19 Jan 2018 15:13:15 GMT
      Last-Modified:
      - Fri, 19 Jan 2018 15:13:15 GMT
      X-Socrata-Region:
      - aws-us-east-1-fedramp-prod
    body:
      encoding: ASCII-8BIT
      string: |
        [{"access2_crude95ci":"(21.3, 28.9)","access2_crudeprev":"24.9","arthritis_crude95ci":"(18.0, 19.8)","arthritis_crudeprev":"18.9","binge_crude95ci":"(13.4, 14.7)","binge_crudeprev":"14","bphigh_crude95ci":"(29.6, 32.2)","bphigh_crudeprev":"30.9","bpmed_crude95ci":"(65.6, 68.7)","bpmed_crudeprev":"67.2","cancer_crude95ci":"( 2.7,  2.9)","cancer_crudeprev":"2.8","casthma_crude95ci":"(10.7, 12.4)","casthma_crudeprev":"11.4","chd_crude95ci":"( 3.5,  4.1)","chd_crudeprev":"3.8","checkup_crude95ci":"(70.2, 72.3)","checkup_crudeprev":"71.3","cholscreen_crude95ci":"(60.3, 66.4)","cholscreen_crudeprev":"63.4","colon_screen_crude95ci":"(51.3, 59.0)","colon_screen_crudeprev":"55.5","copd_crude95ci":"( 5.4,  6.7)","copd_crudeprev":"6","corem_crude95ci":"(25.0, 33.0)","corem_crudeprev":"28.9","corew_crude95ci":"(23.5, 30.2)","corew_crudeprev":"26.9","csmoking_crude95ci":"(22.2, 29.2)","csmoking_crudeprev":"25.8","dental_crude95ci":"(39.1, 48.9)","dental_crudeprev":"43.8","diabetes_crude95ci":"( 9.1, 10.4)","diabetes_crudeprev":"9.8","geolocation":"(33.47499418160, -86.8335421747)","highchol_crude95ci":"(28.0, 30.5)","highchol_crudeprev":"29.2","kidney_crude95ci":"( 2.2,  2.4)","kidney_crudeprev":"2.3","lpa_crude95ci":"(31.8, 37.8)","lpa_crudeprev":"34.9","mammouse_crude95ci":"(71.0, 78.7)","mammouse_crudeprev":"75.5","mhlth_crude95ci":"(15.0, 18.7)","mhlth_crudeprev":"16.8","obesity_crude95ci":"(39.1, 42.6)","obesity_crudeprev":"41","paptest_crude95ci":"(72.7, 80.0)","paptest_crudeprev":"76.6","phlth_crude95ci":"(11.9, 14.4)","phlth_crudeprev":"13.1","place_tractid":"0107000-01073005104","placefips":"0107000","placename":"Birmingham","population2010":"2881","sleep_crude95ci":"(46.1, 50.0)","sleep_crudeprev":"48.2","stateabbr":"AL","stroke_crude95ci":"( 2.4,  2.9)","stroke_crudeprev":"2.6","teethlost_crude95ci":"(19.8, 31.3)","teethlost_crudeprev":"25","tractfips":"01073005104"}
        ,{"access2_crude95ci":"(16.4, 22.3)","access2_crudeprev":"19.3","arthritis_crude95ci":"(17.7, 19.1)","arthritis_crudeprev":"18.4","binge_crude95ci":"(14.2, 15.4)","binge_crudeprev":"14.8","bphigh_crude95ci":"(27.0, 29.2)","bphigh_crudeprev":"28.2","bpmed_crude95ci":"(66.8, 69.7)","bpmed_crudeprev":"68.3","cancer_crude95ci":"( 3.5,  3.8)","cancer_crudeprev":"3.6","casthma_crude95ci":"( 9.8, 11.1)","casthma_crudeprev":"10.4","chd_crude95ci":"( 3.7,  4.3)","chd_crudeprev":"4"[...]
