---
http_interactions:
- request:
    method: get
    uri: https://chronicdata.cdc.gov/resource/47z2-4wuh.json?placename=Carlsbad
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      X-App-Token:
      - "<socrata_api_key>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Socrata-Requestid:
      - 6ijskmh2npxdcfsso4sz6pntg
      Etag:
      - '"YWxwaGEuMTQ3OTMwXzFfNzdNeXdKT0lEZDIxODFxd3E2Rk9pZGs5U3RzRUX6qcCy76A_Mv3oJPQQuXlzRKaK-g-gzip--gzip"'
      X-Soda2-Fields:
      - '["access2_crude95ci","access2_crudeprev","arthritis_crude95ci","arthritis_crudeprev","binge_crude95ci","binge_crudeprev","bphigh_crude95ci","bphigh_crudeprev","bpmed_crude95ci","bpmed_crudeprev","cancer_crude95ci","cancer_crudeprev","casthma_crude95ci","casthma_crudeprev","chd_crude95ci","chd_crudeprev","checkup_crude95ci","checkup_crudeprev","cholscreen_crude95ci","cholscreen_crudeprev","colon_screen_crude95ci","colon_screen_crudeprev","copd_crude95ci","copd_crudeprev","corem_crude95ci","corem_crudeprev","corew_crude95ci","corew_crudeprev","csmoking_crude95ci","csmoking_crudeprev","dental_crude95ci","dental_crudeprev","diabetes_crude95ci","diabetes_crudeprev","geolocation","highchol_crude95ci","highchol_crudeprev","kidney_crude95ci","kidney_crudeprev","lpa_crude95ci","lpa_crudeprev","mammouse_crude95ci","mammouse_crudeprev","mhlth_crude95ci","mhlth_crudeprev","obesity_crude95ci","obesity_crudeprev","paptest_crude95ci","paptest_crudeprev","phlth_crude95ci","phlth_crudeprev","place_tractid","placefips","placename","population2010","sleep_crude95ci","sleep_crudeprev","stateabbr","stroke_crude95ci","stroke_crudeprev","teethlost_crude95ci","teethlost_crudeprev","tractfips"]'
      X-Soda2-Types:
      - '["text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","text","text","number","text","number","text","text","number","text","number","text"]'
      X-Soda2-Data-Out-Of-Date:
      - 'false'
      X-Soda2-Truth-Last-Modified:
      - Fri, 19 Jan 2018 15:13:15 GMT
      X-Soda2-Secondary-Last-Modified:
      - Fri, 19 Jan 2018 15:13:15 GMT
      Last-Modified:
      - Fri, 19 Jan 2018 15:13:15 GMT
      X-Socrata-Region:
      - aws-us-east-1-fedramp-prod
    body:
      encoding: ASCII-8BIT
      string: |
        [{"access2_crude95ci":"( 4.6,  6.7)","access2_crudeprev":"5.6","arthritis_crude95ci":"(18.6, 20.9)","arthritis_crudeprev":"19.7","binge_crude95ci":"(18.5, 19.5)","binge_crudeprev":"19","bphigh_crude95ci":"(24.9, 27.3)","bphigh_crudeprev":"26.1","bpmed_crude95ci":"(70.6, 73.0)","bpmed_crudeprev":"71.8","cancer_crude95ci":"( 7.1,  7.7)","cancer_crudeprev":"7.4","casthma_crude95ci":"( 7.2,  7.9)","casthma_crudeprev":"7.5","chd_crude95ci":"( 4.1,  5.0)","chd_crudeprev":"4.5","checkup_crude95ci":"(66.7, 68.3)","checkup_crudeprev":"67.5","cholscreen_crude95ci":"(82.2, 84.7)","cholscreen_crudeprev":"83.5","colon_screen_crude95ci":"(67.7, 72.8)","colon_screen_crudeprev":"70.3","copd_crude95ci":"( 3.5,  4.9)","copd_crudeprev":"4.2","corem_crude95ci":"(28.4, 37.4)","corem_crudeprev":"33.1","corew_crude95ci":"(28.2, 36.8)","corew_crudeprev":"32.5","csmoking_crude95ci":"( 7.7, 11.5)","csmoking_crudeprev":"9.7","dental_crude95ci":"(72.8, 78.4)","dental_crudeprev":"75.7","diabetes_crude95ci":"( 6.4,  7.6)","diabetes_crudeprev":"7","geolocation":"(33.09917090780, -117.246900613)","highchol_crude95ci":"(32.1, 34.0)","highchol_crudeprev":"33","kidney_crude95ci":"( 2.2,  2.5)","kidney_crudeprev":"2.3","lpa_crude95ci":"(12.1, 15.2)","lpa_crudeprev":"13.6","mammouse_crude95ci":"(77.2, 82.7)","mammouse_crudeprev":"80.1","mhlth_crude95ci":"( 7.9,  9.9)","mhlth_crudeprev":"8.9","obesity_crude95ci":"(19.5, 21.9)","obesity_crudeprev":"20.7","paptest_crude95ci":"(84.1, 87.9)","paptest_crudeprev":"86.2","phlth_crude95ci":"( 7.9, 10.0)","phlth_crudeprev":"8.9","place_tractid":"0611194-06073020014","placefips":"0611194","placename":"Carlsbad","population2010":"7006","sleep_crude95ci":"(29.0, 32.1)","sleep_crudeprev":"30.6","stateabbr":"CA","stroke_crude95ci":"( 2.0,  2.5)","stroke_crudeprev":"2.2","teethlost_crude95ci":"( 3.7,  8.5)","teethlost_crudeprev":"5.8","tractfips":"06073020014"}
        ,{"access2_crude95ci":"( 5.3,  7.9)","access2_crudeprev":"6.5","arthritis_crude95ci":"(20.0, 22.8)","arthritis_crudeprev":"21.3","binge_crude95ci":"(18.4, 19.5)","binge_crudeprev":"18.9","bphigh_crude95ci":"(26.1, 28.9)","bphigh_crudeprev":"27.5","bpmed_crude95ci":"(70.9, 73.4)","bpmed_crudeprev":"72.2","cancer_crude95ci":"( 7.3,  8.0)","cancer_crudeprev":"7.7","casthma_crude95ci":"( 7.4,  8.5)","casthma_crudeprev":"7.9","chd_crude95ci":"( 4.4,  5.7)","chd_crudeprev":"5","[...]
