---
http_interactions:
- request:
    method: get
    uri: https://chronicdata.cdc.gov/resource/47z2-4wuh.json?placename=Houston
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      X-App-Token:
      - "<socrata_api_key>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Socrata-Requestid:
      - 7bg4zpwgnb65c0ugg7oy6pgi2
      Etag:
      - '"YWxwaGEuMTQ3OTMwXzFfNzc2R1FOTldtQk5wUXhSdHVoVE5iR1dmTE1ia1EgXWKCu56g9P95lzod5iwUaRMtcw-gzip--gzip"'
      X-Soda2-Fields:
      - '["access2_crude95ci","access2_crudeprev","arthritis_crude95ci","arthritis_crudeprev","binge_crude95ci","binge_crudeprev","bphigh_crude95ci","bphigh_crudeprev","bpmed_crude95ci","bpmed_crudeprev","cancer_crude95ci","cancer_crudeprev","casthma_crude95ci","casthma_crudeprev","chd_crude95ci","chd_crudeprev","checkup_crude95ci","checkup_crudeprev","cholscreen_crude95ci","cholscreen_crudeprev","colon_screen_crude95ci","colon_screen_crudeprev","copd_crude95ci","copd_crudeprev","corem_crude95ci","corem_crudeprev","corew_crude95ci","corew_crudeprev","csmoking_crude95ci","csmoking_crudeprev","dental_crude95ci","dental_crudeprev","diabetes_crude95ci","diabetes_crudeprev","geolocation","highchol_crude95ci","highchol_crudeprev","kidney_crude95ci","kidney_crudeprev","lpa_crude95ci","lpa_crudeprev","mammouse_crude95ci","mammouse_crudeprev","mhlth_crude95ci","mhlth_crudeprev","obesity_crude95ci","obesity_crudeprev","paptest_crude95ci","paptest_crudeprev","phlth_crude95ci","phlth_crudeprev","place_tractid","placefips","placename","population2010","sleep_crude95ci","sleep_crudeprev","stateabbr","stroke_crude95ci","stroke_crudeprev","teethlost_crude95ci","teethlost_crudeprev","tractfips"]'
      X-Soda2-Types:
      - '["text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","text","text","number","text","number","text","text","number","text","number","text"]'
      X-Soda2-Data-Out-Of-Date:
      - 'false'
      X-Soda2-Truth-Last-Modified:
      - Fri, 19 Jan 2018 15:13:15 GMT
      X-Soda2-Secondary-Last-Modified:
      - Fri, 19 Jan 2018 15:13:15 GMT
      Last-Modified:
      - Fri, 19 Jan 2018 15:13:15 GMT
      X-Socrata-Region:
      - aws-us-east-1-fedramp-prod
    body:
      encoding: ASCII-8BIT
      string: |
        [{"access2_crude95ci":"(19.2, 24.5)","access2_crudeprev":"21.7","arthritis_crude95ci":"(22.8, 24.8)","arthritis_crudeprev":"23.8","binge_crude95ci":"(13.2, 13.9)","binge_crudeprev":"13.5","bphigh_crude95ci":"(35.3, 37.4)","bphigh_crudeprev":"36.4","bpmed_crude95ci":"(79.1, 80.4)","bpmed_crudeprev":"79.7","cancer_crude95ci":"( 6.8,  7.3)","cancer_crudeprev":"7.1","casthma_crude95ci":"( 8.1,  9.0)","casthma_crudeprev":"8.5","chd_crude95ci":"( 6.7,  7.9)","chd_crudeprev":"7.3","checkup_crude95ci":"(72.1, 73.3)","checkup_crudeprev":"72.8","cholscreen_crude95ci":"(75.9, 79.0)","cholscreen_crudeprev":"77.5","colon_screen_crude95ci":"(57.4, 63.4)","colon_screen_crudeprev":"60.5","copd_crude95ci":"( 5.6,  7.4)","copd_crudeprev":"6.5","corem_crude95ci":"(26.0, 34.1)","corem_crudeprev":"30.2","corew_crude95ci":"(27.8, 35.6)","corew_crudeprev":"31.8","csmoking_crude95ci":"(12.7, 16.4)","csmoking_crudeprev":"14.6","dental_crude95ci":"(56.3, 62.7)","dental_crudeprev":"59.5","diabetes_crude95ci":"(13.0, 14.6)","diabetes_crudeprev":"13.8","geolocation":"(29.66961440870, -95.5174643659)","highchol_crude95ci":"(39.9, 41.9)","highchol_crudeprev":"40.9","kidney_crude95ci":"( 3.2,  3.4)","kidney_crudeprev":"3.3","lpa_crude95ci":"(27.7, 31.9)","lpa_crudeprev":"29.9","mammouse_crude95ci":"(72.1, 77.8)","mammouse_crudeprev":"75.1","mhlth_crude95ci":"( 9.5, 11.3)","mhlth_crudeprev":"10.4","obesity_crude95ci":"(31.5, 33.8)","obesity_crudeprev":"32.7","paptest_crude95ci":"(75.8, 80.6)","paptest_crudeprev":"78.2","phlth_crude95ci":"(11.3, 13.7)","phlth_crudeprev":"12.5","place_tractid":"4835000-48201423301","placefips":"4835000","placename":"Houston","population2010":"3701","sleep_crude95ci":"(33.2, 35.6)","sleep_crudeprev":"34.4","stateabbr":"TX","stroke_crude95ci":"( 3.4,  4.2)","stroke_crudeprev":"3.7","teethlost_crude95ci":"( 9.1, 17.2)","teethlost_crudeprev":"12.9","tractfips":"48201423301"}
        ,{"access2_crude95ci":"(27.3, 33.0)","access2_crudeprev":"30.2","arthritis_crude95ci":"(17.5, 18.7)","arthritis_crudeprev":"18.1","binge_crude95ci":"(16.3, 17.0)","binge_crudeprev":"16.7","bphigh_crude95ci":"(27.7, 29.2)","bphigh_crudeprev":"28.4","bpmed_crude95ci":"(71.2, 72.8)","bpmed_crudeprev":"72","cancer_crude95ci":"( 4.6,  4.8)","cancer_crudeprev":"4.7","casthma_crude95ci":"( 7.8,  8.5)","casthma_crudeprev":"8.1","chd_crude95ci":"( 4.9,  5.6)","chd_crudeprev":"5.2",[...]
