---
http_interactions:
- request:
    method: get
    uri: https://chronicdata.cdc.gov/resource/47z2-4wuh.json?placename=Denver
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      X-App-Token:
      - "<socrata_api_key>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Socrata-Requestid:
      - 2oqn6ss9uzyb94huhlg5860j2
      Etag:
      - '"YWxwaGEuMTQ3OTMwXzFfNzd4N3NheUxnYXJuLUtBTVA2NjJCLURJLVktNTSd0_Clw-DTzJO16w6ec9MJgFhF-A-gzip--gzip"'
      X-Soda2-Fields:
      - '["access2_crude95ci","access2_crudeprev","arthritis_crude95ci","arthritis_crudeprev","binge_crude95ci","binge_crudeprev","bphigh_crude95ci","bphigh_crudeprev","bpmed_crude95ci","bpmed_crudeprev","cancer_crude95ci","cancer_crudeprev","casthma_crude95ci","casthma_crudeprev","chd_crude95ci","chd_crudeprev","checkup_crude95ci","checkup_crudeprev","cholscreen_crude95ci","cholscreen_crudeprev","colon_screen_crude95ci","colon_screen_crudeprev","copd_crude95ci","copd_crudeprev","corem_crude95ci","corem_crudeprev","corew_crude95ci","corew_crudeprev","csmoking_crude95ci","csmoking_crudeprev","dental_crude95ci","dental_crudeprev","diabetes_crude95ci","diabetes_crudeprev","geolocation","highchol_crude95ci","highchol_crudeprev","kidney_crude95ci","kidney_crudeprev","lpa_crude95ci","lpa_crudeprev","mammouse_crude95ci","mammouse_crudeprev","mhlth_crude95ci","mhlth_crudeprev","obesity_crude95ci","obesity_crudeprev","paptest_crude95ci","paptest_crudeprev","phlth_crude95ci","phlth_crudeprev","place_tractid","placefips","placename","population2010","sleep_crude95ci","sleep_crudeprev","stateabbr","stroke_crude95ci","stroke_crudeprev","teethlost_crude95ci","teethlost_crudeprev","tractfips"]'
      X-Soda2-Types:
      - '["text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","text","text","number","text","number","text","text","number","text","number","text"]'
      X-Soda2-Data-Out-Of-Date:
      - 'false'
      X-Soda2-Truth-Last-Modified:
      - Fri, 19 Jan 2018 15:13:15 GMT
      X-Soda2-Secondary-Last-Modified:
      - Fri, 19 Jan 2018 15:13:15 GMT
      Last-Modified:
      - Fri, 19 Jan 2018 15:13:15 GMT
      X-Socrata-Region:
      - aws-us-east-1-fedramp-prod
    body:
      encoding: ASCII-8BIT
      string: |
        [{"access2_crude95ci":"( 7.1, 10.8)","access2_crudeprev":"8.7","arthritis_crude95ci":"(15.6, 17.4)","arthritis_crudeprev":"16.5","binge_crude95ci":"(22.3, 23.6)","binge_crudeprev":"23","bphigh_crude95ci":"(18.8, 20.7)","bphigh_crudeprev":"19.8","bpmed_crude95ci":"(63.3, 65.9)","bpmed_crudeprev":"64.6","cancer_crude95ci":"( 5.4,  5.8)","cancer_crudeprev":"5.6","casthma_crude95ci":"( 7.6,  8.5)","casthma_crudeprev":"8","chd_crude95ci":"( 2.9,  3.5)","chd_crudeprev":"3.2","checkup_crude95ci":"(59.7, 61.5)","checkup_crudeprev":"60.7","cholscreen_crude95ci":"(75.4, 79.5)","cholscreen_crudeprev":"77.7","colon_screen_crude95ci":"(64.5, 70.3)","colon_screen_crudeprev":"67.7","copd_crude95ci":"( 2.6,  3.7)","copd_crudeprev":"3.1","corem_crude95ci":"(35.7, 43.8)","corem_crudeprev":"39.8","corew_crude95ci":"(30.5, 37.8)","corew_crudeprev":"34.6","csmoking_crude95ci":"(10.7, 16.9)","csmoking_crudeprev":"13.5","dental_crude95ci":"(69.3, 77.1)","dental_crudeprev":"73.6","diabetes_crude95ci":"( 4.6,  5.4)","diabetes_crudeprev":"5","geolocation":"(39.76396646620, -105.032302333)","highchol_crude95ci":"(25.6, 27.4)","highchol_crudeprev":"26.4","kidney_crude95ci":"( 1.9,  2.1)","kidney_crudeprev":"2","lpa_crude95ci":"(11.3, 14.6)","lpa_crudeprev":"12.8","mammouse_crude95ci":"(71.2, 77.1)","mammouse_crudeprev":"74.4","mhlth_crude95ci":"( 7.4,  9.8)","mhlth_crudeprev":"8.5","obesity_crude95ci":"(16.0, 18.1)","obesity_crudeprev":"17","paptest_crude95ci":"(83.8, 88.5)","paptest_crudeprev":"86.4","phlth_crude95ci":"( 6.3,  8.1)","phlth_crudeprev":"7.2","place_tractid":"0820000-08031000303","placefips":"0820000","placename":"Denver","population2010":"4504","sleep_crude95ci":"(23.6, 26.6)","sleep_crudeprev":"25.1","stateabbr":"CO","stroke_crude95ci":"( 1.5,  1.8)","stroke_crudeprev":"1.6","teethlost_crude95ci":"( 4.9, 12.0)","teethlost_crudeprev":"7.7","tractfips":"08031000303"}
        ,{"access2_crude95ci":"( 8.5, 12.5)","access2_crudeprev":"10.4","arthritis_crude95ci":"(10.7, 12.3)","arthritis_crudeprev":"11.4","binge_crude95ci":"(25.8, 27.1)","binge_crudeprev":"26.5","bphigh_crude95ci":"(14.3, 16.0)","bphigh_crudeprev":"15.1","bpmed_crude95ci":"(50.2, 52.9)","bpmed_crudeprev":"51.6","cancer_crude95ci":"( 3.3,  3.6)","cancer_crudeprev":"3.5","casthma_crude95ci":"( 7.6,  8.7)","casthma_crudeprev":"8.1","chd_crude95ci":"( 1.6,  1.9)","chd_crudeprev":"1.7[...]
[...]
- request:
    method: get
    uri: https://chronicdata.cdc.gov/resource/47z2-4wuh.json?placename=Portland
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      X-App-Token:
      - "<socrata_api_key>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Socrata-Requestid:
      - c5qism3ylr7mxoxc2hehavv30
      Etag:
      - '"YWxwaGEuMTQ3OTMwXzFfN[...]
[...]
