---
http_interactions:
- request:
    method: get
    uri: https://chronicdata.cdc.gov/resource/47z2-4wuh.json?placename=Detroit
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      X-App-Token:
      - "<socrata_api_key>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Socrata-Requestid:
      - 60ex61c8cyig670zu3f4705gj
      Etag:
      - '"YWxwaGEuMTQ3OTMwXzFfNzdndUdkVGc2ZHpyZUYzTU1TTXl2UUtqNFlRSXdJkdFO9mhb2wZsoEddiyts1ggZtA-gzip--gzip"'
      X-Soda2-Fields:
      - '["access2_crude95ci","access2_crudeprev","arthritis_crude95ci","arthritis_crudeprev","binge_crude95ci","binge_crudeprev","bphigh_crude95ci","bphigh_crudeprev","bpmed_crude95ci","bpmed_crudeprev","cancer_crude95ci","cancer_crudeprev","casthma_crude95ci","casthma_crudeprev","chd_crude95ci","chd_crudeprev","checkup_crude95ci","checkup_crudeprev","cholscreen_crude95ci","cholscreen_crudeprev","colon_screen_crude95ci","colon_screen_crudeprev","copd_crude95ci","copd_crudeprev","corem_crude95ci","corem_crudeprev","corew_crude95ci","corew_crudeprev","csmoking_crude95ci","csmoking_crudeprev","dental_crude95ci","dental_crudeprev","diabetes_crude95ci","diabetes_crudeprev","geolocation","highchol_crude95ci","highchol_crudeprev","kidney_crude95ci","kidney_crudeprev","lpa_crude95ci","lpa_crudeprev","mammouse_crude95ci","mammouse_crudeprev","mhlth_crude95ci","mhlth_crudeprev","obesity_crude95ci","obesity_crudeprev","paptest_crude95ci","paptest_crudeprev","phlth_crude95ci","phlth_crudeprev","place_tractid","placefips","placename","population2010","sleep_crude95ci","sleep_crudeprev","stateabbr","stroke_crude95ci","stroke_crudeprev","teethlost_crude95ci","teethlost_crudeprev","tractfips"]'
      X-Soda2-Types:
      - '["text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","text","text","number","text","number","text","text","number","text","number","text"]'
      X-Soda2-Data-Out-Of-Date:
      - 'false'
      X-Soda2-Truth-Last-Modified:
      - Fri, 19 Jan 2018 15:13:15 GMT
      X-Soda2-Secondary-Last-Modified:
      - Fri, 19 Jan 2018 15:13:15 GMT
      Last-Modified:
      - Fri, 19 Jan 2018 15:13:15 GMT
      X-Socrata-Region:
      - aws-us-east-1-fedramp-prod
    body:
      encoding: ASCII-8BIT
      string: |
        [{"access2_crude95ci":"(16.9, 24.8)","access2_crudeprev":"20.7","arthritis_crude95ci":"(30.2, 32.9)","arthritis_crudeprev":"31.6","binge_crude95ci":"(14.4, 15.8)","binge_crudeprev":"15.1","bphigh_crude95ci":"(45.8, 48.5)","bphigh_crudeprev":"47.2","bpmed_crude95ci":"(77.7, 80.1)","bpmed_crudeprev":"78.9","cancer_crude95ci":"( 5.3,  5.8)","cancer_crudeprev":"5.6","casthma_crude95ci":"(12.2, 14.2)","casthma_crudeprev":"13.1","chd_crude95ci":"( 7.6,  9.0)","chd_crudeprev":"8.2","checkup_crude95ci":"(77.9, 79.7)","checkup_crudeprev":"78.8","cholscreen_crude95ci":"(70.0, 75.5)","cholscreen_crudeprev":"72.9","colon_screen_crude95ci":"(53.1, 61.6)","colon_screen_crudeprev":"57.4","copd_crude95ci":"( 8.4, 11.0)","copd_crudeprev":"9.7","corem_crude95ci":"(18.6, 27.8)","corem_crudeprev":"23.1","corew_crude95ci":"(16.6, 23.8)","corew_crudeprev":"20.1","csmoking_crude95ci":"(26.6, 34.2)","csmoking_crudeprev":"30.6","dental_crude95ci":"(41.0, 50.5)","dental_crudeprev":"45.7","diabetes_crude95ci":"(16.1, 18.4)","diabetes_crudeprev":"17.2","geolocation":"(42.43681420660, -83.0671656846)","highchol_crude95ci":"(37.9, 40.8)","highchol_crudeprev":"39.3","kidney_crude95ci":"( 3.8,  4.2)","kidney_crudeprev":"4","lpa_crude95ci":"(31.7, 37.8)","lpa_crudeprev":"34.9","mammouse_crude95ci":"(74.2, 81.4)","mammouse_crudeprev":"77.9","mhlth_crude95ci":"(14.6, 18.5)","mhlth_crudeprev":"16.6","obesity_crude95ci":"(43.5, 46.3)","obesity_crudeprev":"45","paptest_crude95ci":"(72.6, 79.7)","paptest_crudeprev":"76.2","phlth_crude95ci":"(15.9, 19.8)","phlth_crudeprev":"17.8","place_tractid":"2622000-26163506900","placefips":"2622000","placename":"Detroit","population2010":"3818","sleep_crude95ci":"(50.5, 53.7)","sleep_crudeprev":"52.2","stateabbr":"MI","stroke_crude95ci":"( 5.3,  6.7)","stroke_crudeprev":"6","teethlost_crude95ci":"(19.8, 35.0)","teethlost_crudeprev":"26.8","tractfips":"26163506900"}
        ,{"access2_crude95ci":"(18.6, 26.3)","access2_crudeprev":"22.3","arthritis_crude95ci":"(33.9, 36.8)","arthritis_crudeprev":"35.4","binge_crude95ci":"(13.2, 14.5)","binge_crudeprev":"13.8","bphigh_crude95ci":"(50.7, 53.6)","bphigh_crudeprev":"52.2","bpmed_crude95ci":"(80.4, 82.5)","bpmed_crudeprev":"81.5","cancer_crude95ci":"( 6.1,  6.8)","cancer_crudeprev":"6.5","casthma_crude95ci":"(12.1, 14.2)","casthma_crudeprev":"13.1","chd_crude95ci":"( 9.3, 11.4)","chd_crudeprev":"10[...]
