---
http_interactions:
- request:
    method: get
    uri: https://chronicdata.cdc.gov/resource/47z2-4wuh.json?placename=Flint
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      X-App-Token:
      - "<socrata_api_key>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Socrata-Requestid:
      - 9mj72lw06l651b2udwwp54lf6
      Etag:
      - '"YWxwaGEuMTQ3OTMwXzFfNzc2ZkRFdDFDbndDYVFpQjlrYWJ1bHZxMDdlS1WOwTCvQ7YPNuUbNQ4UYfcPVO2RdA-gzip--gzip"'
      X-Soda2-Fields:
      - '["access2_crude95ci","access2_crudeprev","arthritis_crude95ci","arthritis_crudeprev","binge_crude95ci","binge_crudeprev","bphigh_crude95ci","bphigh_crudeprev","bpmed_crude95ci","bpmed_crudeprev","cancer_crude95ci","cancer_crudeprev","casthma_crude95ci","casthma_crudeprev","chd_crude95ci","chd_crudeprev","checkup_crude95ci","checkup_crudeprev","cholscreen_crude95ci","cholscreen_crudeprev","colon_screen_crude95ci","colon_screen_crudeprev","copd_crude95ci","copd_crudeprev","corem_crude95ci","corem_crudeprev","corew_crude95ci","corew_crudeprev","csmoking_crude95ci","csmoking_crudeprev","dental_crude95ci","dental_crudeprev","diabetes_crude95ci","diabetes_crudeprev","geolocation","highchol_crude95ci","highchol_crudeprev","kidney_crude95ci","kidney_crudeprev","lpa_crude95ci","lpa_crudeprev","mammouse_crude95ci","mammouse_crudeprev","mhlth_crude95ci","mhlth_crudeprev","obesity_crude95ci","obesity_crudeprev","paptest_crude95ci","paptest_crudeprev","phlth_crude95ci","phlth_crudeprev","place_tractid","placefips","placename","population2010","sleep_crude95ci","sleep_crudeprev","stateabbr","stroke_crude95ci","stroke_crudeprev","teethlost_crude95ci","teethlost_crudeprev","tractfips"]'
      X-Soda2-Types:
      - '["text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","text","text","number","text","number","text","text","number","text","number","text"]'
      X-Soda2-Data-Out-Of-Date:
      - 'false'
      X-Soda2-Truth-Last-Modified:
      - Fri, 19 Jan 2018 15:13:15 GMT
      X-Soda2-Secondary-Last-Modified:
      - Fri, 19 Jan 2018 15:13:15 GMT
      Last-Modified:
      - Fri, 19 Jan 2018 15:13:15 GMT
      X-Socrata-Region:
      - aws-us-east-1-fedramp-prod
    body:
      encoding: ASCII-8BIT
      string: |
        [{"access2_crude95ci":"( 9.6, 12.6)","access2_crudeprev":"11.1","arthritis_crude95ci":"(32.3, 34.9)","arthritis_crudeprev":"33.6","binge_crude95ci":"(15.7, 16.7)","binge_crudeprev":"16.2","bphigh_crude95ci":"(34.5, 36.9)","bphigh_crudeprev":"35.7","bpmed_crude95ci":"(76.3, 78.1)","bpmed_crudeprev":"77.2","cancer_crude95ci":"( 6.9,  7.5)","cancer_crudeprev":"7.2","casthma_crude95ci":"(10.5, 11.3)","casthma_crudeprev":"10.9","chd_crude95ci":"( 6.9,  8.2)","chd_crudeprev":"7.6","checkup_crude95ci":"(71.3, 72.8)","checkup_crudeprev":"72","cholscreen_crude95ci":"(77.5, 80.1)","cholscreen_crudeprev":"78.9","colon_screen_crude95ci":"(65.2, 71.1)","colon_screen_crudeprev":"68.4","copd_crude95ci":"( 6.9,  9.0)","copd_crudeprev":"7.9","corem_crude95ci":"(30.1, 39.7)","corem_crudeprev":"35","corew_crude95ci":"(27.6, 35.9)","corew_crudeprev":"31.6","csmoking_crude95ci":"(17.7, 23.0)","csmoking_crudeprev":"20.3","dental_crude95ci":"(68.7, 74.2)","dental_crudeprev":"71.5","diabetes_crude95ci":"(10.7, 12.3)","diabetes_crudeprev":"11.5","geolocation":"(43.01830878340, -83.6639885156)","highchol_crude95ci":"(38.6, 40.7)","highchol_crudeprev":"39.7","kidney_crude95ci":"( 3.3,  3.6)","kidney_crudeprev":"3.4","lpa_crude95ci":"(24.0, 28.2)","lpa_crudeprev":"26.1","mammouse_crude95ci":"(77.5, 83.3)","mammouse_crudeprev":"80.7","mhlth_crude95ci":"(11.2, 13.5)","mhlth_crudeprev":"12.3","obesity_crude95ci":"(32.0, 34.7)","obesity_crudeprev":"33.4","paptest_crude95ci":"(81.1, 85.7)","paptest_crudeprev":"83.5","phlth_crude95ci":"(12.2, 14.8)","phlth_crudeprev":"13.5","place_tractid":"2629000-26049003000","placefips":"2629000","placename":"Flint","population2010":"3410","sleep_crude95ci":"(34.3, 37.2)","sleep_crudeprev":"35.8","stateabbr":"MI","stroke_crude95ci":"( 3.3,  4.1)","stroke_crudeprev":"3.7","teethlost_crude95ci":"( 8.5, 17.0)","teethlost_crudeprev":"12.3","tractfips":"26049003000"}
        ,{"access2_crude95ci":"(19.3, 25.3)","access2_crudeprev":"22.3","arthritis_crude95ci":"(33.5, 36.0)","arthritis_crudeprev":"34.8","binge_crude95ci":"(12.0, 13.3)","binge_crudeprev":"12.6","bphigh_crude95ci":"(45.0, 47.5)","bphigh_crudeprev":"46.3","bpmed_crude95ci":"(76.7, 79.2)","bpmed_crudeprev":"77.9","cancer_crude95ci":"( 4.7,  5.2)","cancer_crudeprev":"5","casthma_crude95ci":"(13.4, 15.4)","casthma_crudeprev":"14.3","chd_crude95ci":"( 7.2,  8.6)","chd_crudeprev":"7.9"[...]
