---
http_interactions:
- request:
    method: get
    uri: https://chronicdata.cdc.gov/resource/47z2-4wuh.json?placename=Lynn
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      X-App-Token:
      - "<socrata_api_key>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Socrata-Requestid:
      - 5a4wvgtl3gacp030d2j9lcfu2
      Etag:
      - '"YWxwaGEuMTQ3OTMwXzFfNzcwOW95bEFCbWpDc285dEozQk52N0hXR0JkMEX5MbaeNWZD_hOdc-TYfexGWijXOg-gzip--gzip"'
      X-Soda2-Fields:
      - '["access2_crude95ci","access2_crudeprev","arthritis_crude95ci","arthritis_crudeprev","binge_crude95ci","binge_crudeprev","bphigh_crude95ci","bphigh_crudeprev","bpmed_crude95ci","bpmed_crudeprev","cancer_crude95ci","cancer_crudeprev","casthma_crude95ci","casthma_crudeprev","chd_crude95ci","chd_crudeprev","checkup_crude95ci","checkup_crudeprev","cholscreen_crude95ci","cholscreen_crudeprev","colon_screen_crude95ci","colon_screen_crudeprev","copd_crude95ci","copd_crudeprev","corem_crude95ci","corem_crudeprev","corew_crude95ci","corew_crudeprev","csmoking_crude95ci","csmoking_crudeprev","dental_crude95ci","dental_crudeprev","diabetes_crude95ci","diabetes_crudeprev","geolocation","highchol_crude95ci","highchol_crudeprev","kidney_crude95ci","kidney_crudeprev","lpa_crude95ci","lpa_crudeprev","mammouse_crude95ci","mammouse_crudeprev","mhlth_crude95ci","mhlth_crudeprev","obesity_crude95ci","obesity_crudeprev","paptest_crude95ci","paptest_crudeprev","phlth_crude95ci","phlth_crudeprev","place_tractid","placefips","placename","population2010","sleep_crude95ci","sleep_crudeprev","stateabbr","stroke_crude95ci","stroke_crudeprev","teethlost_crude95ci","teethlost_crudeprev","tractfips"]'
      X-Soda2-Types:
      - '["text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","text","text","number","text","number","text","text","number","text","number","text"]'
      X-Soda2-Data-Out-Of-Date:
      - 'false'
      X-Soda2-Truth-Last-Modified:
      - Fri, 19 Jan 2018 15:13:15 GMT
      X-Soda2-Secondary-Last-Modified:
      - Fri, 19 Jan 2018 15:13:15 GMT
      Last-Modified:
      - Fri, 19 Jan 2018 15:13:15 GMT
      X-Socrata-Region:
      - aws-us-east-1-fedramp-prod
    body:
      encoding: ASCII-8BIT
      string: |
        [{"access2_crude95ci":"( 9.3, 12.5)","access2_crudeprev":"10.8","arthritis_crude95ci":"(24.6, 26.8)","arthritis_crudeprev":"25.7","binge_crude95ci":"(16.0, 17.0)","binge_crudeprev":"16.5","bphigh_crude95ci":"(28.4, 30.5)","bphigh_crudeprev":"29.5","bpmed_crude95ci":"(75.1, 77.0)","bpmed_crudeprev":"76.1","cancer_crude95ci":"( 5.9,  6.5)","cancer_crudeprev":"6.2","casthma_crude95ci":"( 9.8, 10.8)","casthma_crudeprev":"10.2","chd_crude95ci":"( 5.8,  6.9)","chd_crudeprev":"6.3","checkup_crude95ci":"(75.4, 76.8)","checkup_crudeprev":"76.1","cholscreen_crude95ci":"(75.0, 78.1)","cholscreen_crudeprev":"76.5","colon_screen_crude95ci":"(61.1, 68.4)","colon_screen_crudeprev":"65","copd_crude95ci":"( 6.1,  8.1)","copd_crudeprev":"7.1","corem_crude95ci":"(22.3, 31.5)","corem_crudeprev":"27","corew_crude95ci":"(22.3, 30.6)","corew_crudeprev":"26.4","csmoking_crude95ci":"(17.1, 21.9)","csmoking_crudeprev":"19.5","dental_crude95ci":"(59.5, 66.3)","dental_crudeprev":"63","diabetes_crude95ci":"( 9.4, 10.8)","diabetes_crudeprev":"10.1","geolocation":"(42.46677492370, -70.9272546474)","highchol_crude95ci":"(34.3, 36.3)","highchol_crudeprev":"35.3","kidney_crude95ci":"( 2.6,  2.8)","kidney_crudeprev":"2.7","lpa_crude95ci":"(28.8, 33.2)","lpa_crudeprev":"31","mammouse_crude95ci":"(75.8, 82.1)","mammouse_crudeprev":"79.2","mhlth_crude95ci":"(13.0, 15.5)","mhlth_crudeprev":"14.2","obesity_crude95ci":"(27.1, 29.3)","obesity_crudeprev":"28.2","paptest_crude95ci":"(82.5, 86.4)","paptest_crudeprev":"84.5","phlth_crude95ci":"(11.7, 14.3)","phlth_crudeprev":"13","place_tractid":"2537490-25009206600","placefips":"2537490","placename":"Lynn","population2010":"4243","sleep_crude95ci":"(39.2, 42.1)","sleep_crudeprev":"40.8","stateabbr":"MA","stroke_crude95ci":"( 2.7,  3.4)","stroke_crudeprev":"3.1","teethlost_crude95ci":"(13.3, 26.8)","teethlost_crudeprev":"19.3","tractfips":"25009206600"}
        ,{"access2_crude95ci":"( 5.3,  7.3)","access2_crudeprev":"6.2","arthritis_crude95ci":"(23.9, 26.3)","arthritis_crudeprev":"25.1","binge_crude95ci":"(18.6, 19.7)","binge_crudeprev":"19.2","bphigh_crude95ci":"(26.2, 28.7)","bphigh_crudeprev":"27.4","bpmed_crude95ci":"(75.0, 77.0)","bpmed_crudeprev":"76","cancer_crude95ci":"( 6.4,  6.9)","cancer_crudeprev":"6.7","casthma_crude95ci":"( 9.2, 10.2)","casthma_crudeprev":"9.7","chd_crude95ci":"( 4.9,  5.8)","chd_crudeprev":"5.4","[...]
