---
http_interactions:
- request:
    method: get
    uri: https://chronicdata.cdc.gov/resource/47z2-4wuh.json?placename=Roswell
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      X-App-Token:
      - "<socrata_api_key>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Socrata-Requestid:
      - 89uhozup2igujvt5o6txcdrez
      Etag:
      - '"YWxwaGEuMTQ3OTMwXzFfNzcySVQzRFdQcmg4eTljb1laVmRQSjN1QUREQ3cRZJg9DdqVToXAitvfbiDpsidT6g-gzip--gzip"'
      X-Soda2-Fields:
      - '["access2_crude95ci","access2_crudeprev","arthritis_crude95ci","arthritis_crudeprev","binge_crude95ci","binge_crudeprev","bphigh_crude95ci","bphigh_crudeprev","bpmed_crude95ci","bpmed_crudeprev","cancer_crude95ci","cancer_crudeprev","casthma_crude95ci","casthma_crudeprev","chd_crude95ci","chd_crudeprev","checkup_crude95ci","checkup_crudeprev","cholscreen_crude95ci","cholscreen_crudeprev","colon_screen_crude95ci","colon_screen_crudeprev","copd_crude95ci","copd_crudeprev","corem_crude95ci","corem_crudeprev","corew_crude95ci","corew_crudeprev","csmoking_crude95ci","csmoking_crudeprev","dental_crude95ci","dental_crudeprev","diabetes_crude95ci","diabetes_crudeprev","geolocation","highchol_crude95ci","highchol_crudeprev","kidney_crude95ci","kidney_crudeprev","lpa_crude95ci","lpa_crudeprev","mammouse_crude95ci","mammouse_crudeprev","mhlth_crude95ci","mhlth_crudeprev","obesity_crude95ci","obesity_crudeprev","paptest_crude95ci","paptest_crudeprev","phlth_crude95ci","phlth_crudeprev","place_tractid","placefips","placename","population2010","sleep_crude95ci","sleep_crudeprev","stateabbr","stroke_crude95ci","stroke_crudeprev","teethlost_crude95ci","teethlost_crudeprev","tractfips"]'
      X-Soda2-Types:
      - '["text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","text","text","number","text","number","text","text","number","text","number","text"]'
      X-Soda2-Data-Out-Of-Date:
      - 'false'
      X-Soda2-Truth-Last-Modified:
      - Fri, 19 Jan 2018 15:13:15 GMT
      X-Soda2-Secondary-Last-Modified:
      - Fri, 19 Jan 2018 15:13:15 GMT
      Last-Modified:
      - Fri, 19 Jan 2018 15:13:15 GMT
      X-Socrata-Region:
      - aws-us-east-1-fedramp-prod
    body:
      encoding: ASCII-8BIT
      string: |
        [{"access2_crude95ci":"(10.1, 14.4)","access2_crudeprev":"12.1","arthritis_crude95ci":"(21.6, 24.2)","arthritis_crudeprev":"22.8","binge_crude95ci":"(16.7, 17.9)","binge_crudeprev":"17.2","bphigh_crude95ci":"(29.8, 32.5)","bphigh_crudeprev":"31.1","bpmed_crude95ci":"(73.0, 75.4)","bpmed_crudeprev":"74.2","cancer_crude95ci":"( 6.1,  6.6)","cancer_crudeprev":"6.3","casthma_crude95ci":"( 8.5,  9.5)","casthma_crudeprev":"8.9","chd_crude95ci":"( 4.6,  5.8)","chd_crudeprev":"5.2","checkup_crude95ci":"(71.4, 73.1)","checkup_crudeprev":"72.2","cholscreen_crude95ci":"(79.8, 83.0)","cholscreen_crudeprev":"81.5","colon_screen_crude95ci":"(60.5, 67.8)","colon_screen_crudeprev":"64.6","copd_crude95ci":"( 4.8,  6.7)","copd_crudeprev":"5.7","corem_crude95ci":"(30.0, 40.8)","corem_crudeprev":"35.5","corew_crude95ci":"(28.3, 38.5)","corew_crudeprev":"33.5","csmoking_crude95ci":"(13.0, 18.7)","csmoking_crudeprev":"15.8","dental_crude95ci":"(68.6, 74.9)","dental_crudeprev":"71.9","diabetes_crude95ci":"( 7.8,  9.2)","diabetes_crudeprev":"8.4","geolocation":"(34.00493222600, -84.3734172779)","highchol_crude95ci":"(33.0, 35.2)","highchol_crudeprev":"34","kidney_crude95ci":"( 2.4,  2.6)","kidney_crudeprev":"2.5","lpa_crude95ci":"(20.1, 24.9)","lpa_crudeprev":"22.4","mammouse_crude95ci":"(74.4, 81.4)","mammouse_crudeprev":"78.2","mhlth_crude95ci":"( 9.5, 12.1)","mhlth_crudeprev":"10.8","obesity_crude95ci":"(25.6, 28.5)","obesity_crudeprev":"27","paptest_crude95ci":"(82.6, 87.1)","paptest_crudeprev":"85","phlth_crude95ci":"( 9.3, 11.9)","phlth_crudeprev":"10.5","place_tractid":"1367284-13121011422","placefips":"1367284","placename":"Roswell","population2010":"3666","sleep_crude95ci":"(34.2, 37.7)","sleep_crudeprev":"35.8","stateabbr":"GA","stroke_crude95ci":"( 2.3,  2.9)","stroke_crudeprev":"2.6","teethlost_crude95ci":"( 6.9, 17.1)","teethlost_crudeprev":"11.1","tractfips":"13121011422"}
        ,{"access2_crude95ci":"( 6.9,  9.0)","access2_crudeprev":"7.9","arthritis_crude95ci":"(25.3, 27.6)","arthritis_crudeprev":"26.4","binge_crude95ci":"(15.1, 15.9)","binge_crudeprev":"15.5","bphigh_crude95ci":"(33.1, 35.4)","bphigh_crudeprev":"34.2","bpmed_crude95ci":"(79.8, 81.3)","bpmed_crudeprev":"80.6","cancer_crude95ci":"( 8.9,  9.7)","cancer_crudeprev":"9.3","casthma_crude95ci":"( 7.4,  7.8)","casthma_crudeprev":"7.6","chd_crude95ci":"( 5.7,  7.0)","chd_crudeprev":"6.3"[...]
