---
http_interactions:
- request:
    method: get
    uri: https://chronicdata.cdc.gov/resource/47z2-4wuh.json?placename=Sandy
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      X-App-Token:
      - "<socrata_api_key>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Socrata-Requestid:
      - 67xlwj1olfj7ln6gc40lha4bw
      Etag:
      - '"YWxwaGEuMTQ3OTMwXzFfNzdXMEFzQ0NvZkljRUQtclB2R24tVWxZd080TmvsHl-FrmvW3FSvIdY2x3ld0IB1Ew-gzip--gzip"'
      X-Soda2-Fields:
      - '["access2_crude95ci","access2_crudeprev","arthritis_crude95ci","arthritis_crudeprev","binge_crude95ci","binge_crudeprev","bphigh_crude95ci","bphigh_crudeprev","bpmed_crude95ci","bpmed_crudeprev","cancer_crude95ci","cancer_crudeprev","casthma_crude95ci","casthma_crudeprev","chd_crude95ci","chd_crudeprev","checkup_crude95ci","checkup_crudeprev","cholscreen_crude95ci","cholscreen_crudeprev","colon_screen_crude95ci","colon_screen_crudeprev","copd_crude95ci","copd_crudeprev","corem_crude95ci","corem_crudeprev","corew_crude95ci","corew_crudeprev","csmoking_crude95ci","csmoking_crudeprev","dental_crude95ci","dental_crudeprev","diabetes_crude95ci","diabetes_crudeprev","geolocation","highchol_crude95ci","highchol_crudeprev","kidney_crude95ci","kidney_crudeprev","lpa_crude95ci","lpa_crudeprev","mammouse_crude95ci","mammouse_crudeprev","mhlth_crude95ci","mhlth_crudeprev","obesity_crude95ci","obesity_crudeprev","paptest_crude95ci","paptest_crudeprev","phlth_crude95ci","phlth_crudeprev","place_tractid","placefips","placename","population2010","sleep_crude95ci","sleep_crudeprev","stateabbr","stroke_crude95ci","stroke_crudeprev","teethlost_crude95ci","teethlost_crudeprev","tractfips"]'
      X-Soda2-Types:
      - '["text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","text","text","number","text","number","text","text","number","text","number","text"]'
      X-Soda2-Data-Out-Of-Date:
      - 'false'
      X-Soda2-Truth-Last-Modified:
      - Fri, 19 Jan 2018 15:13:15 GMT
      X-Soda2-Secondary-Last-Modified:
      - Fri, 19 Jan 2018 15:13:15 GMT
      Last-Modified:
      - Fri, 19 Jan 2018 15:13:15 GMT
      X-Socrata-Region:
      - aws-us-east-1-fedramp-prod
    body:
      encoding: ASCII-8BIT
      string: |
        [{"access2_crude95ci":"( 9.8, 14.4)","access2_crudeprev":"11.9","arthritis_crude95ci":"(20.0, 22.2)","arthritis_crudeprev":"21.2","binge_crude95ci":"(13.4, 14.3)","binge_crudeprev":"13.9","bphigh_crude95ci":"(23.8, 25.9)","bphigh_crudeprev":"24.9","bpmed_crude95ci":"(69.2, 71.9)","bpmed_crudeprev":"70.5","cancer_crude95ci":"( 5.8,  6.3)","cancer_crudeprev":"6.1","casthma_crude95ci":"( 9.2, 10.2)","casthma_crudeprev":"9.6","chd_crude95ci":"( 4.2,  5.1)","chd_crudeprev":"4.6","checkup_crude95ci":"(58.9, 60.7)","checkup_crudeprev":"59.8","cholscreen_crude95ci":"(66.9, 71.3)","cholscreen_crudeprev":"69.2","colon_screen_crude95ci":"(65.6, 71.9)","colon_screen_crudeprev":"69.1","copd_crude95ci":"( 4.0,  5.4)","copd_crudeprev":"4.7","corem_crude95ci":"(29.8, 39.2)","corem_crudeprev":"34.7","corew_crude95ci":"(28.5, 35.4)","corew_crudeprev":"32.1","csmoking_crude95ci":"( 8.9, 12.9)","csmoking_crudeprev":"10.9","dental_crude95ci":"(64.5, 71.6)","dental_crudeprev":"68.1","diabetes_crude95ci":"( 7.3,  8.6)","diabetes_crudeprev":"8","geolocation":"(40.58766769590, -111.862996357)","highchol_crude95ci":"(33.4, 35.7)","highchol_crudeprev":"34.5","kidney_crude95ci":"( 2.4,  2.6)","kidney_crudeprev":"2.5","lpa_crude95ci":"(19.2, 23.6)","lpa_crudeprev":"21.4","mammouse_crude95ci":"(67.4, 74.0)","mammouse_crudeprev":"70.9","mhlth_crude95ci":"(10.0, 12.6)","mhlth_crudeprev":"11.3","obesity_crude95ci":"(23.6, 26.1)","obesity_crudeprev":"25","paptest_crude95ci":"(75.7, 81.1)","paptest_crudeprev":"78.4","phlth_crude95ci":"( 9.5, 11.8)","phlth_crudeprev":"10.7","place_tractid":"4967440-49035112612","placefips":"4967440","placename":"Sandy","population2010":"3791","sleep_crude95ci":"(29.5, 32.7)","sleep_crudeprev":"31.2","stateabbr":"UT","stroke_crude95ci":"( 2.2,  2.8)","stroke_crudeprev":"2.5","teethlost_crude95ci":"( 8.3, 15.5)","teethlost_crudeprev":"11.5","tractfips":"49035112612"}
        ,{"access2_crude95ci":"( 5.7,  9.2)","access2_crudeprev":"7.3","arthritis_crude95ci":"(17.4, 20.2)","arthritis_crudeprev":"18.8","binge_crude95ci":"(14.8, 15.8)","binge_crudeprev":"15.3","bphigh_crude95ci":"(20.6, 23.4)","bphigh_crudeprev":"22","bpmed_crude95ci":"(66.4, 69.5)","bpmed_crudeprev":"68","cancer_crude95ci":"( 5.3,  5.9)","cancer_crudeprev":"5.6","casthma_crude95ci":"( 8.6,  9.7)","casthma_crudeprev":"9.1","chd_crude95ci":"( 3.0,  3.9)","chd_crudeprev":"3.4","ch[...]
