---
http_interactions:
- request:
    method: get
    uri: https://chronicdata.cdc.gov/resource/47z2-4wuh.json?placename=Troy
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      X-App-Token:
      - "<socrata_api_key>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Socrata-Requestid:
      - 98bm7sgglsbm9enbofq5hcwvl
      Etag:
      - '"YWxwaGEuMTQ3OTMwXzFfNzdCWDhiMEIwTWNtdlYydTVTaDNqT19VNzlFTzDDBPxfvOAawTV0BQemi8s-MY_KHA-gzip--gzip"'
      X-Soda2-Fields:
      - '["access2_crude95ci","access2_crudeprev","arthritis_crude95ci","arthritis_crudeprev","binge_crude95ci","binge_crudeprev","bphigh_crude95ci","bphigh_crudeprev","bpmed_crude95ci","bpmed_crudeprev","cancer_crude95ci","cancer_crudeprev","casthma_crude95ci","casthma_crudeprev","chd_crude95ci","chd_crudeprev","checkup_crude95ci","checkup_crudeprev","cholscreen_crude95ci","cholscreen_crudeprev","colon_screen_crude95ci","colon_screen_crudeprev","copd_crude95ci","copd_crudeprev","corem_crude95ci","corem_crudeprev","corew_crude95ci","corew_crudeprev","csmoking_crude95ci","csmoking_crudeprev","dental_crude95ci","dental_crudeprev","diabetes_crude95ci","diabetes_crudeprev","geolocation","highchol_crude95ci","highchol_crudeprev","kidney_crude95ci","kidney_crudeprev","lpa_crude95ci","lpa_crudeprev","mammouse_crude95ci","mammouse_crudeprev","mhlth_crude95ci","mhlth_crudeprev","obesity_crude95ci","obesity_crudeprev","paptest_crude95ci","paptest_crudeprev","phlth_crude95ci","phlth_crudeprev","place_tractid","placefips","placename","population2010","sleep_crude95ci","sleep_crudeprev","stateabbr","stroke_crude95ci","stroke_crudeprev","teethlost_crude95ci","teethlost_crudeprev","tractfips"]'
      X-Soda2-Types:
      - '["text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","text","text","number","text","number","text","text","number","text","number","text"]'
      X-Soda2-Data-Out-Of-Date:
      - 'false'
      X-Soda2-Truth-Last-Modified:
      - Fri, 19 Jan 2018 15:13:15 GMT
      X-Soda2-Secondary-Last-Modified:
      - Fri, 19 Jan 2018 15:13:15 GMT
      Last-Modified:
      - Fri, 19 Jan 2018 15:13:15 GMT
      X-Socrata-Region:
      - aws-us-east-1-fedramp-prod
    body:
      encoding: ASCII-8BIT
      string: |
        [{"access2_crude95ci":"( 6.9, 10.9)","access2_crudeprev":"8.5","arthritis_crude95ci":"(14.5, 15.9)","arthritis_crudeprev":"15.1","binge_crude95ci":"(19.1, 20.3)","binge_crudeprev":"19.7","bphigh_crude95ci":"(19.3, 21.0)","bphigh_crudeprev":"20.1","bpmed_crude95ci":"(63.5, 66.3)","bpmed_crudeprev":"65","cancer_crude95ci":"( 4.0,  4.3)","cancer_crudeprev":"4.1","casthma_crude95ci":"( 7.4,  8.3)","casthma_crudeprev":"7.8","chd_crude95ci":"( 2.5,  3.0)","chd_crudeprev":"2.8","checkup_crude95ci":"(66.4, 68.2)","checkup_crudeprev":"67.4","cholscreen_crude95ci":"(73.8, 78.2)","cholscreen_crudeprev":"76.4","colon_screen_crude95ci":"(67.2, 72.3)","colon_screen_crudeprev":"70.1","copd_crude95ci":"( 2.5,  3.4)","copd_crudeprev":"2.9","corem_crude95ci":"(32.0, 40.5)","corem_crudeprev":"36.4","corew_crude95ci":"(32.7, 40.1)","corew_crudeprev":"36.9","csmoking_crude95ci":"(10.7, 16.2)","csmoking_crudeprev":"13.2","dental_crude95ci":"(73.3, 79.9)","dental_crudeprev":"76.9","diabetes_crude95ci":"( 4.7,  5.4)","diabetes_crudeprev":"5","geolocation":"(42.54681465080, -83.1778467982)","highchol_crude95ci":"(28.4, 30.1)","highchol_crudeprev":"29.2","kidney_crude95ci":"( 1.6,  1.8)","kidney_crudeprev":"1.7","lpa_crude95ci":"(15.1, 18.9)","lpa_crudeprev":"16.9","mammouse_crude95ci":"(77.5, 82.8)","mammouse_crudeprev":"80.5","mhlth_crude95ci":"( 7.0,  9.0)","mhlth_crudeprev":"8","obesity_crude95ci":"(19.1, 21.2)","obesity_crudeprev":"20.1","paptest_crude95ci":"(80.1, 85.1)","paptest_crudeprev":"83.1","phlth_crude95ci":"( 5.5,  6.9)","phlth_crudeprev":"6.2","place_tractid":"2680700-26125197702","placefips":"2680700","placename":"Troy","population2010":"1743","sleep_crude95ci":"(34.7, 38.3)","sleep_crudeprev":"36.4","stateabbr":"MI","stroke_crude95ci":"( 1.2,  1.5)","stroke_crudeprev":"1.3","teethlost_crude95ci":"( 4.7, 11.1)","teethlost_crudeprev":"7","tractfips":"26125197702"}
        ,{"access2_crude95ci":"( 5.0,  7.0)","access2_crudeprev":"6","arthritis_crude95ci":"(24.3, 26.4)","arthritis_crudeprev":"25.3","binge_crude95ci":"(16.0, 16.7)","binge_crudeprev":"16.3","bphigh_crude95ci":"(29.2, 31.2)","bphigh_crudeprev":"30.1","bpmed_crude95ci":"(77.1, 78.5)","bpmed_crudeprev":"77.8","cancer_crude95ci":"( 7.0,  7.5)","cancer_crudeprev":"7.3","casthma_crude95ci":"( 7.7,  8.4)","casthma_crudeprev":"8","chd_crude95ci":"( 4.6,  5.4)","chd_crudeprev":"5","chec[...]
