---
http_interactions:
- request:
    method: get
    uri: https://chronicdata.cdc.gov/resource/47z2-4wuh.json?placename=Burlington
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      X-App-Token:
      - "<socrata_api_key>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Socrata-Requestid:
      - 1aufruh1g8zj7hpju4wwh2j9l
      Etag:
      - '"YWxwaGEuMTQ3OTMwXzFfNzdfYWY5WEZsbzlZVWNRMDlPbFZyUDZqVFktVEEKJkeKeLqPUWjJZjPXegTbVpr5ng-gzip--gzip"'
      X-Soda2-Fields:
      - '["access2_crude95ci","access2_crudeprev","arthritis_crude95ci","arthritis_crudeprev","binge_crude95ci","binge_crudeprev","bphigh_crude95ci","bphigh_crudeprev","bpmed_crude95ci","bpmed_crudeprev","cancer_crude95ci","cancer_crudeprev","casthma_crude95ci","casthma_crudeprev","chd_crude95ci","chd_crudeprev","checkup_crude95ci","checkup_crudeprev","cholscreen_crude95ci","cholscreen_crudeprev","colon_screen_crude95ci","colon_screen_crudeprev","copd_crude95ci","copd_crudeprev","corem_crude95ci","corem_crudeprev","corew_crude95ci","corew_crudeprev","csmoking_crude95ci","csmoking_crudeprev","dental_crude95ci","dental_crudeprev","diabetes_crude95ci","diabetes_crudeprev","geolocation","highchol_crude95ci","highchol_crudeprev","kidney_crude95ci","kidney_crudeprev","lpa_crude95ci","lpa_crudeprev","mammouse_crude95ci","mammouse_crudeprev","mhlth_crude95ci","mhlth_crudeprev","obesity_crude95ci","obesity_crudeprev","paptest_crude95ci","paptest_crudeprev","phlth_crude95ci","phlth_crudeprev","place_tractid","placefips","placename","population2010","sleep_crude95ci","sleep_crudeprev","stateabbr","stroke_crude95ci","stroke_crudeprev","teethlost_crude95ci","teethlost_crudeprev","tractfips"]'
      X-Soda2-Types:
      - '["text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","text","text","number","text","number","text","text","number","text","number","text"]'
      X-Soda2-Data-Out-Of-Date:
      - 'false'
      X-Soda2-Truth-Last-Modified:
      - Fri, 19 Jan 2018 15:13:15 GMT
      X-Soda2-Secondary-Last-Modified:
      - Fri, 19 Jan 2018 15:13:15 GMT
      Last-Modified:
      - Fri, 19 Jan 2018 15:13:15 GMT
      X-Socrata-Region:
      - aws-us-east-1-fedramp-prod
    body:
      encoding: ASCII-8BIT
      string: |
        [{"access2_crude95ci":"( 6.6, 13.9)","access2_crudeprev":"9.2","arthritis_crude95ci":"(15.2, 17.2)","arthritis_crudeprev":"16.1","binge_crude95ci":"(21.5, 24.3)","binge_crudeprev":"23","bphigh_crude95ci":"(16.7, 18.8)","bphigh_crudeprev":"17.7","bpmed_crude95ci":"(64.4, 68.9)","bpmed_crudeprev":"66.8","cancer_crude95ci":"( 4.2,  4.7)","cancer_crudeprev":"4.4","casthma_crude95ci":"( 9.5, 11.6)","casthma_crudeprev":"10.4","chd_crude95ci":"( 3.3,  4.3)","chd_crudeprev":"3.8","checkup_crude95ci":"(59.2, 62.9)","checkup_crudeprev":"61.2","cholscreen_crude95ci":"(56.1, 65.0)","cholscreen_crudeprev":"61.4","colon_screen_crude95ci":"(60.6, 68.0)","colon_screen_crudeprev":"64.9","copd_crude95ci":"( 3.5,  5.3)","copd_crudeprev":"4.3","corem_crude95ci":"(26.0, 36.7)","corem_crudeprev":"31.2","corew_crude95ci":"(23.0, 34.3)","corew_crudeprev":"29","csmoking_crude95ci":"(11.0, 20.2)","csmoking_crudeprev":"14.7","dental_crude95ci":"(62.5, 76.0)","dental_crudeprev":"70.4","diabetes_crude95ci":"( 4.3,  5.2)","diabetes_crudeprev":"4.7","geolocation":"(44.47140431230, -73.2088308880)","highchol_crude95ci":"(23.3, 26.6)","highchol_crudeprev":"24.7","kidney_crude95ci":"( 1.9,  2.2)","kidney_crudeprev":"2","lpa_crude95ci":"(13.7, 19.6)","lpa_crudeprev":"16.2","mammouse_crude95ci":"(72.5, 80.1)","mammouse_crudeprev":"76.9","mhlth_crude95ci":"( 9.2, 14.2)","mhlth_crudeprev":"11.2","obesity_crude95ci":"(17.2, 20.5)","obesity_crudeprev":"18.8","paptest_crude95ci":"(73.9, 82.3)","paptest_crudeprev":"78.7","phlth_crude95ci":"( 7.1,  9.8)","phlth_crudeprev":"8.3","place_tractid":"5010675-50007000900","placefips":"5010675","placename":"Burlington","population2010":"2839","sleep_crude95ci":"(24.2, 29.4)","sleep_crudeprev":"26.7","stateabbr":"VT","stroke_crude95ci":"( 1.6,  2.3)","stroke_crudeprev":"1.9","teethlost_crude95ci":"( 8.7, 25.1)","teethlost_crudeprev":"14.3","tractfips":"50007000900"}
        ,{"access2_crude95ci":"( 7.9, 13.5)","access2_crudeprev":"10.4","arthritis_crude95ci":"(20.7, 23.1)","arthritis_crudeprev":"21.9","binge_crude95ci":"(18.3, 19.9)","binge_crudeprev":"19.1","bphigh_crude95ci":"(23.2, 25.5)","bphigh_crudeprev":"24.4","bpmed_crude95ci":"(71.5, 74.4)","bpmed_crudeprev":"72.9","cancer_crude95ci":"( 5.6,  6.2)","cancer_crudeprev":"5.9","casthma_crude95ci":"( 9.9, 11.4)","casthma_crudeprev":"10.6","chd_crude95ci":"( 5.0,  6.3)","chd_crudeprev":"5.[...]
[...]
