---
http_interactions:
- request:
    method: get
    uri: https://chronicdata.cdc.gov/resource/47z2-4wuh.json?placename=Waco
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      X-App-Token:
      - "<socrata_api_key>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Socrata-Requestid:
      - dilny7p9qwkdz5ka0zspct6to
      Etag:
      - '"YWxwaGEuMTQ3OTMwXzFfNzdZVE9qY0Q4MjRKN0JadWVkbDA2eldyOUZ5UVnDnGyRyeavk23HfjTVbr8uQ53uxw-gzip--gzip"'
      X-Soda2-Fields:
      - '["access2_crude95ci","access2_crudeprev","arthritis_crude95ci","arthritis_crudeprev","binge_crude95ci","binge_crudeprev","bphigh_crude95ci","bphigh_crudeprev","bpmed_crude95ci","bpmed_crudeprev","cancer_crude95ci","cancer_crudeprev","casthma_crude95ci","casthma_crudeprev","chd_crude95ci","chd_crudeprev","checkup_crude95ci","checkup_crudeprev","cholscreen_crude95ci","cholscreen_crudeprev","colon_screen_crude95ci","colon_screen_crudeprev","copd_crude95ci","copd_crudeprev","corem_crude95ci","corem_crudeprev","corew_crude95ci","corew_crudeprev","csmoking_crude95ci","csmoking_crudeprev","dental_crude95ci","dental_crudeprev","diabetes_crude95ci","diabetes_crudeprev","geolocation","highchol_crude95ci","highchol_crudeprev","kidney_crude95ci","kidney_crudeprev","lpa_crude95ci","lpa_crudeprev","mammouse_crude95ci","mammouse_crudeprev","mhlth_crude95ci","mhlth_crudeprev","obesity_crude95ci","obesity_crudeprev","paptest_crude95ci","paptest_crudeprev","phlth_crude95ci","phlth_crudeprev","place_tractid","placefips","placename","population2010","sleep_crude95ci","sleep_crudeprev","stateabbr","stroke_crude95ci","stroke_crudeprev","teethlost_crude95ci","teethlost_crudeprev","tractfips"]'
      X-Soda2-Types:
      - '["text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","number","text","text","text","number","text","number","text","text","number","text","number","text"]'
      X-Soda2-Data-Out-Of-Date:
      - 'false'
      X-Soda2-Truth-Last-Modified:
      - Fri, 19 Jan 2018 15:13:15 GMT
      X-Soda2-Secondary-Last-Modified:
      - Fri, 19 Jan 2018 15:13:15 GMT
      Last-Modified:
      - Fri, 19 Jan 2018 15:13:15 GMT
      X-Socrata-Region:
      - aws-us-east-1-fedramp-prod
    body:
      encoding: ASCII-8BIT
      string: |
        [{"access2_crude95ci":"(12.4, 17.0)","access2_crudeprev":"14.6","arthritis_crude95ci":"(17.8, 19.9)","arthritis_crudeprev":"18.9","binge_crude95ci":"(20.3, 21.9)","binge_crudeprev":"21.1","bphigh_crude95ci":"(24.8, 26.9)","bphigh_crudeprev":"25.9","bpmed_crude95ci":"(72.3, 74.8)","bpmed_crudeprev":"73.6","cancer_crude95ci":"( 5.4,  5.9)","cancer_crudeprev":"5.6","casthma_crude95ci":"( 7.8,  8.6)","casthma_crudeprev":"8.2","chd_crude95ci":"( 4.0,  4.9)","chd_crudeprev":"4.5","checkup_crude95ci":"(65.5, 67.6)","checkup_crudeprev":"66.5","cholscreen_crude95ci":"(72.6, 76.8)","cholscreen_crudeprev":"74.8","colon_screen_crude95ci":"(62.3, 68.9)","colon_screen_crudeprev":"65.7","copd_crude95ci":"( 4.3,  5.7)","copd_crudeprev":"5","corem_crude95ci":"(28.8, 39.2)","corem_crudeprev":"34","corew_crude95ci":"(32.4, 42.4)","corew_crudeprev":"37.4","csmoking_crude95ci":"(14.2, 19.4)","csmoking_crudeprev":"16.8","dental_crude95ci":"(62.2, 69.2)","dental_crudeprev":"65.7","diabetes_crude95ci":"( 6.8,  7.9)","diabetes_crudeprev":"7.3","geolocation":"(31.61338183880, -97.2224239837)","highchol_crude95ci":"(31.8, 34.1)","highchol_crudeprev":"32.9","kidney_crude95ci":"( 1.9,  2.1)","kidney_crudeprev":"2","lpa_crude95ci":"(22.1, 26.6)","lpa_crudeprev":"24.4","mammouse_crude95ci":"(71.8, 78.6)","mammouse_crudeprev":"75.4","mhlth_crude95ci":"( 9.4, 11.6)","mhlth_crudeprev":"10.4","obesity_crude95ci":"(28.0, 30.9)","obesity_crudeprev":"29.5","paptest_crude95ci":"(79.9, 84.8)","paptest_crudeprev":"82.5","phlth_crude95ci":"( 8.5, 10.5)","phlth_crudeprev":"9.5","place_tractid":"4876000-48309004103","placefips":"4876000","placename":"Waco","population2010":"6171","sleep_crude95ci":"(29.7, 32.8)","sleep_crudeprev":"31.2","stateabbr":"TX","stroke_crude95ci":"( 1.9,  2.3)","stroke_crudeprev":"2.1","teethlost_crude95ci":"( 6.4, 13.2)","teethlost_crudeprev":"9.4","tractfips":"48309004103"}
        ,{"access2_crude95ci":"(23.2, 28.0)","access2_crudeprev":"25.2","arthritis_crude95ci":"( 4.1,  4.9)","arthritis_crudeprev":"4.5","binge_crude95ci":"(20.0, 23.5)","binge_crudeprev":"21.7","bphigh_crude95ci":"( 8.6, 10.0)","bphigh_crudeprev":"9.3","bpmed_crude95ci":"(21.9, 25.4)","bpmed_crudeprev":"23.5","cancer_crude95ci":"( 0.8,  0.9)","cancer_crudeprev":"0.9","casthma_crude95ci":"(10.3, 11.6)","casthma_crudeprev":"11","chd_crude95ci":"( 0.7,  0.8)","chd_crudeprev":"0.7","[...]
