<div class='sidebar'>
  <div class='heading'>
    <h3> information</h3>
  </div>
  <div id='selections' class='selection'>
    <%= render partial: "selection" %>
  </div>
</div>

<div id='map' class='map pad2'>Map</div>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
<script>

  mapboxgl.accessToken = 'pk.eyJ1IjoibWdtaWx0b24iLCJhIjoiY2pldm81anY4MG13aDJ5cGEza3hxcml1cSJ9.aU1ioXfQ5DPbyQKdcUdxoA';
  var coord = <%= raw @location.coordinates %>;
  var name = '<%=@location.name %>';
  var url = "https://chronicdata.cdc.gov/resource/csmm-fdhi.geojson?cityname=Beaverton&measureid=BPHIGH";
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mgmilton/cjfj0t3er6zo92rpa4dv54lpw',
    center: coord,
    zoom: 10
  });
  map.on('load', function (e) {
    // Add the data to your map as a layer
    map.addLayer({
      id: 'blood pressure',
      type: 'fill',
      source: {
        'type': 'geojson',
        'data': url
      },
      paint: {
        'fill-color': {
         type: "categorical",
         property: 'data_value',
         stops: [["22.8", '#3BB3C3'], ["26.2", '#3BB3C3']]
       }
        }
      });
    });
  var nav = new mapboxgl.NavigationControl();
  map.addControl(nav, 'bottom-right');
</script>
