<div class='sidebar'>
  <div class='heading'>
    <h3> information</h3>
  </div>
  <div id='selections' class='selection'>
    <%= render partial: "selection" %>
    <% @location.write_neighborhood_health_data %>
  </div>
</div>
